body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #DDD0C8;
    color: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
    font-weight:bold;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #34495e;
    color:#fff;
}
.sidebar .active {
    background-color: #34495e;
    color:#fff;
}


#submenu1{
    display:none;
}
.content {
    flex-grow: 1;
ss    background-color: #f4f4f9;
}

#dynamic-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Spinner styles */
#loading-spinner {
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none; /* Hidden by default */
}

.spinner-inner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Disable pointer events on content while loading */
#dynamic-content.loading {
    pointer-events: none;
    opacity: 0.5;
}

